/* Manrope Font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 1px solid darkred;
}

/* Global Style */
body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.Inter_font {
  font-family: "Inter", sans-serif;
}
/* Hide Scroll Bar */
::-webkit-scrollbar {
  width: 0px;
}

.transition_all {
  transition: all 0.5s ease-out;
}
