/* Slider Dots Style */

/* 
.splide__pagination {
  position: absolute;
  bottom: -4.1% !important; 
  left: 15% !important;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .splide__pagination {
    bottom: 5px !important; 
    left: 20% !important;
  }
} */

.splide__pagination__page {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9 !important;
  opacity: 1 !important;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.splide__pagination__page.is-active {
  background-color: #f97316 !important;
}