/* Edit Splide Library Properties */
/* important for override library default style */
.slider_container {
  margin: 20px 0 !important;
}

/* less 'margin' for screens smaller than 1024px */
@media (max-width: 1024px) {
  .slider_container {
    margin: 5px 0 !important;
  }
}

.splide__pagination__page {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9 !important;
  opacity: 1 !important;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
    margin: 10px;
      /* Add margin-left to pagination dots */
}

.splide__pagination__page.is-active {
  background-color: #f97316 !important;
}

/* Apply different color for rtl direction */
.slider_container.rtl .splide__pagination__page.is-active {
  background-color: #333132 !important;
}